$font-beVietnam-bold: 'beVietnam-Bold';
$font-beVietnam-medium: 'beVietnam-Medium';
$font-beVietnam-regular: 'beVietnam-Regular';
$font-beVietnam-thin: 'beVietnam-SemiBold';

@font-face {
    font-family: $font-beVietnam-bold;
    src: url('/fonts/BeVietnam-Bold.ttf');
}
@font-face {
    font-family: $font-beVietnam-medium;
    src: url('/fonts/BeVietnam-Medium.ttf');
}
@font-face {
    font-family: $font-beVietnam-regular;
    src: url('/fonts/BeVietnam-Regular.ttf');
}
@font-face {
    font-family: $font-beVietnam-thin;
    src: url('/fonts/BeVietnam-Thin.ttf');
}
