$font-beVietnam-bold: 'beVietnam-Bold';
$font-beVietnam-medium: 'beVietnam-Medium';
$font-beVietnam-regular: 'beVietnam-Regular';
$font-beVietnam-thin: 'beVietnam-Thin';

@font-face {
    font-family: $font-beVietnam-bold;
    src: url('../assets/fonts/BeVietnam-Bold.ttf');
}
@font-face {
    font-family: $font-beVietnam-medium;
    src: url('../assets/fonts/BeVietnam-Medium.ttf');
}
@font-face {
    font-family: $font-beVietnam-regular;
    src: url('../assets/fonts/BeVietnam-Regular.ttf');
}
@font-face {
    font-family: $font-beVietnam-thin;
    src: url('../assets/fonts/BeVietnam-Thin.ttf');
}

$color-pink: #f55086;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-black: 900;

$color-red: #dc3a61;
$color-white: #ffffff;
$color-black: #000000;
$color-brown: #666666;
$color-gray: #999999;
$color-line: #e4e4e4;
$color-bg: #eeeeee;
$color-gray-bg: #f3f3f3;
$color-light-gray-bg: #f4f4f4;
$color-gray2: #807878;
$color-green: #008b68;
$color-pink: #fc5185;
