@import './variable';

body {
    font-family: $font-beVietnam-regular;
    background-color: #E2F1F1;
}

::-webkit-scrollbar {
    width: 0rem;
}

@media (min-width: 768px) {
  :root {
    font-size: calc(0.6rem + ((1vw - 7.68px) * 1.25));
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}