@import '../../styles/variable';

@media screen and (max-width: 575px) {
    .room-placeholder {
        padding: 20px 20px;
        &-image {
            height: 200px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        .room-info {
            margin-left: 0;

            .title {
                font-size: 1rem;
            }
        }
    }

}
