@import '../../styles/variable';

.room-placeholder {
    color: black;
    cursor: pointer;

    width: 100%;
    background-color: white;
    // border-radius: 0.5rem;
    // padding: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid #cdcdcd;
    .image-container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &-image {
        height: (150rem/24);
        width: (210rem/24);
        border-radius: 0.5rem;
    }

    .room-info {
        width: 100%;
        margin-left: 1rem;
        font-size: 0.75rem;
        display: flex;
        align-items: center;

        .informations {
            margin-top: 0.5rem;
            .column {
                flex-direction: column;
                align-items: center;
                justify-content: start;
            }
        }
        .title {
            margin: auto;
            font-size: (28rem/24);
            font-family: $font-beVietnam-medium;
        }

        .icon {
            color: #c89696;
            font-size: 0.75rem;
        }

        .unit {
            margin-left: 0.5rem;
        }

        .info {
            margin-bottom: 0.75rem;
        }
    }

    .price {
        height: 100%;
        color: $color-pink;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .price_ {
            font-size: (52rem/24);
            font-family: $font-beVietnam-medium;
        }
    }
}
